.gallery {
    max-width: 1128px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style-type: none;
  }
  
  .gallery li {
    width: calc((100% - 48px) / 3);
  }
  
  .gallery li :hover {
    width: 376px;
    height: 208px;
  }